.footer {  
  height: 86px;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;  
  display: flex;
  justify-content: center;
  background-color: #FFF;
  align-items: center;
  box-sizing: border-box;      
}