.Header {
  height: 56px;
  width: 100%;
  position: fixed;  
  top: 0;
  left: 0;
  background-color: #FFF;
  display: flex;  
  align-items: center;
  box-sizing: border-box;  
  justify-content: center;    
}

.Header a {
  color: #0079D3;  
  font-size: 26px;
  font-weight: bold;
  text-decoration: none;
}
