
.postLeftBar {
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  margin: 0px;  
  background-color: #F8F9FA;
}

.postContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}


.Arrow {
  font-size: 5
}




.postContainer {
  width: 100%;
  height: 100px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  border-bottom: 1px;
  border-bottom-color: lightgray;
}

.postItemBody {
  width: 100%;
  height: 100%;  
  display: flex;
  flex-direction: column;  
}


.userPostDetails {
  width: 100%;
  height: fit-content;   
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;  
}

.userPostDetails div {
  margin-right: 2%;
  margin-bottom: 2%;
} 

.userPostDetails div:last-child {  
  margin-bottom: 0;
  font-weight: 400;
  color: #0079D3;
}


.userPostDetails div:first-child {
  font-weight: bold;
  color: #7F7F7F  
}
